// InicioSesionView

html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title INICIO DE SESIÓN
    link(rel="stylesheet", href="CSS/InicioSesionStyle.css")
  body
    .container_outside
        .container_inside
            
            .container_title
                .title INICIO DE SESIÓN
            .container_sub_title
                .sub_title Bienvenidos al aplicativo

            form(action="/InicioSesionView", method="POST")

                .input_container
                
                    .container_input
                        input.input( placeholder="Usuario", type="text", id="usuario", name="usuario", required)
                    .container_input
                        input.input( placeholder="Contraseña", type="password", id="contraseña", name="contraseña", required)
                    .container_mensaje
                        .mensaje
                            if error == null
                                p 
                            else if error == false 
                                p(style={color:'red'}) #{message}
                            else
                                p(style={color:'green'}) #{message}
                    
                    .container_button
                        .button
                            button.buttonText(type="submit") INICIAR SESIÓN
                        .button
                            a.buttonText(href="/RegistroSesionView") REGISTRARSE