// MenuView

html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title MENU OPCIONES
    link(rel="stylesheet", href="CSS/MenuStyle.css")
  body
    .container_outside
      .container_inside

        .container_title
          .title BIENVENIDO A INICIO
        .container_sub_title
          .sub_title Hola, mira nuestros servicios!

        .container_button
          .button
            a.buttonText(href="/AutomovilView") REGISTRAR AUTOS
          .button
            a.buttonText(href="/ListaAutomovilView") VER LISTA AUTOS
        .container_button
          .button
            a.buttonText(href="/RentaView") REGISTRAR RENTA
          .button
            a.buttonText(href="/ListaRentaView") VER LISTA RENTA
        .container_button
          .button
            a.buttonText(href="/InicioSesionView") CERRAR SESIÓN